body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding-top: 15px;
    background-color:thistle;
    color: darkgreen;
}

.background{
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    background-image: url(img.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    
}


dd{
    margin-top: 5px;
    margin-bottom: 5px;

}
h2{
    padding-right: 115px;
    padding-left: 50px;
    text-align: right;
}

.t1{
    padding-left: 250px;

}

.TableBody{
    background-color: darkgray;
    text-align: center;
    align-items: stretch;
    padding-top: 15px;

}

.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }