body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 15px;
    background-color:rgb(255, 255, 255);
    color: darkgreen;
    font-size: x-large;
    
}

.background{
    min-height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    background-image: url(img.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    object-fit:fill 
   
    
}

dd{
    margin-top: 5px;
    margin-bottom: 5px;

}
h2{
    padding-right: 375px;
    padding-left: 50px;
    text-align: right;
}

.t1{
    padding-left: 250px;

}

.TableBody{
    background-color: darkgray;
    text-align: center;
    align-items: stretch;
    padding-top: 15px;

}

.column {
    float: left;
    width: 33.33%;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.form {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    text-align: center;

}

h1{
    font-size: 75px; 
    text-align: center;

}
